body {
  font-family: Arial, sans-serif;
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-image: linear-gradient(to left, #18A0BE, #e71db5);
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.product-list, .cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.product-card, .cart-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  max-width: 250px;
  text-align: center;
  
}
.product-card img, .cart-item img {
  max-width: 100%;
  height: auto;
}
.product-card h3, .cart-item h3 {
  margin: 10px 0;
}
.product-card p, .cart-item p {
  margin: 5px 0;
}
.product-card button, .cart-item button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px
}
.product-card button:hover, .cart-item button:hover {
  background-color: #0056b3;
}

